<!--the story text-->
<section class="about">
    <div class="container">
        <!--About-->
        <div class="row paddings center">
            <div class="col-lg-12">
                <!--Main title-->
                <div class="main-title text-uppercase">
                    <h3>about us</h3>
                </div>
                <!--Main title-->
                <p class="top bottom">Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. ivamus elementum semper nisi. Aenean vulputate eleifend tellus.Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Sed fringilla mauris sit amet nibh. </p>
                <h4>JAMIE & JAMES</h4>
                <span>Founders</span>
            </div>
        </div>
        <!--About-->
    </div>
    <!--the story text-->
    <ul class="list-float row list-inline">
        <li><a href="#"><img src="img/about/image-left-about.jpg" alt=""></a></li>
        <li><a href="#"><img src="img/about/image-right-about.jpg" alt=""></a></li>
    </ul>
    <!--Our Stores-->
    <div class="row paddings center">
        <div class="col-lg-12">
            <!--Main title-->
            <div class="main-title text-uppercase">
                <h3>Our Stores</h3>
            </div>
            <!--Main title-->

            <div class="stores">
                <div class="col-lg-4 col-md-4">
                    <h4>los angeles</h4>
                    <p>100 SUNSET BoULEVARD <br>CALIFORNIA, United States</p>
                    <p><a href="#">info@store.com</a></p>
                    <p>(011)  123  6760</p>
                    <h5>Stores Hours</h5>
                    <p>Monday-Saturday / 10 am to 8 pm <br>Sunday /  CLOSED</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h4>New York</h4>
                    <p>100 SUNSET BoULEVARD <br>CALIFORNIA, United States</p>
                    <p><a href="#">info@store.com</a></p>
                    <p>(011)  123  6760</p>
                    <h5>Stores Hours</h5>
                    <p>Monday-Saturday / 10 am to 8 pm <br>Sunday /  CLOSED</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h4>London</h4>
                    <p>100 SUNSET BoULEVARD <br>CALIFORNIA, United States</p>
                    <p><a href="#">info@store.com</a></p>
                    <p>(011)  123  6760</p>
                    <h5>Stores Hours</h5>
                    <p>Monday-Saturday / 10 am to 8 pm <br>Sunday /  CLOSED</p>
                </div>
            </div>
        </div>
    </div>
    <!--Our Stores-->
</section>