<section class="error-page">
    <div class="content-error center text-uppercase">
        <h2>page not found</h2>
        <div class="boton-arrow top"><a href="@Url.Action("Index","Home")"> <i class="fa fa-angle-left"></i> Quay về trang chủ</a></div>
    </div>
</section>